<b-container fluid>
  <div class="mb-1 text-center w-100">
    <h3 class="name">Josh Levy</h3>
  </div>
  <div class="mb-1 text-center w-100">
    <div class="social">
      <a href="https://linkedin.com/in/JoshAaronLevy" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://github.com/JoshAaronLevy" target="_blank"><i class="fab fa-github"></i></a>
    </div>
  </div>
  <div class="mb-1 text-center w-100">
    <div class="contact">
      <a href="mailto:joshaaronlevy@gmail.com"><i class="fas fa-envelope"></i><h4>joshaaronlevy@gmail.com</h4></a>
    </div>
  </div>
  <div class="mb-1 text-center w-100">
    <div class="contact">
      <a href="tel:7208834980"><i class="fas fa-mobile"></i><h4>(720) 883-4980</h4></a>
    </div>
  </div>
  <div class="mb-1 text-center w-100">
    <div class="contact">
      <a href="https://goo.gl/maps/bpZCa8oQx1v" target="_blank"><i class="fas fa-map-marked-alt"></i><h4>Denver, CO<sup>*</sup></h4></a>
    </div>
  </div>
  <div class="mb-1 text-center w-100">
    <div class="footnote">
      <h6><sup>*</sup>Currently in Denver, yet able to easily relocate, and seeking such opportunities as well.</h6>
    </div>
  </div>
</b-container>