<div class="wrapper">
  <div class="page-header clear-filter">
    <app-hero></app-hero>
  </div>
  <div id="skills" class="section section-sections" data-background-color="gray">
    <app-skills></app-skills>
  </div>
  <div id="projects" class="section section-examples" data-background-color="black">
    <app-projects></app-projects>
  </div>
  <div id="experience" class="section section-sections" data-background-color="gray">
    <app-work-history></app-work-history>
  </div>
  <div id="resume" class="section section-sections" data-background-color="black">
    <app-resume></app-resume>
  </div>
</div>