.skills-list {
  list-style-type: none !important;
  padding: 0 !important;
  display: flex !important;
  flex-wrap: wrap;
  margin-bottom: 100px !important;
}

.skill-image {
  height: 300px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: #fff !important;
  transition: all 0.4s ease 0s !important;
}

.skill-image:hover {
  transition: all 0.4s ease 0s !important;
  transform: scale(1.02);
}

.skill-image .img {
  height: 300px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 100% !important;
  background-color: #fff !important;
  transition: none !important;
}

.skill-image .img:hover {
  transition: none !important;
  transform: none !important;
}

.skill-image .img img {
  height: 100% !important;
  width: auto !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 30px !important;
  background-color: #fff !important;
  transition: none !important;
  box-shadow: none;
}

.skill-image .img img:hover {
  transition: none !important;
  transform: none !important;
  box-shadow: none;
}

.card-title {
  font-size: 1.75em !important;
  font-weight: 700 !important;
}

.category {
  font-size: 1.1em !important;
  font-weight: 700 !important;
  color: #666 !important;
}
