<div class="container">
  <div class="col-md-8 ml-auto mr-auto">
    <div class="section-description text-center">
      <h2 class="title">Projects</h2>
    </div>
  </div>
</div>
<div class="container-fluid centered-section padded-container">
  <div class="section-cols">
    <div class="row">
      <p-messages *ngIf="loadingError" severity="error" class="api-error">
        <ng-template pTemplate>
          <div class="p-ml-2">Error: Unable to fetch project list from the server. Please try again.</div>
        </ng-template>
      </p-messages>
      <div *ngIf="loadingProjects" class="progress-spinner">
        <p-progressSpinner styleClass="custom-spinner" strokeWidth="4" animationDuration="3s"></p-progressSpinner>
      </div>
      <p-timeline *ngIf="!loadingProjects" [value]="projects" align="alternate" styleClass="timeline-card">
        <ng-template pTemplate="marker" let-project>
          <span class="custom-marker p-shadow-2" [style.backgroundColor]="markerColor">
            <i class="fas fa-code"></i>
          </span>
        </ng-template>
        <ng-template pTemplate="opposite" let-project>
          <p-card [header]="project.name" [subheader]="project.date">
            <p class="card-description">{{ project.description }}</p>
            <a [ngClass]="project.deployedUrl === null ? 'no-display' : null" href="{{ project?.deployedUrl }}" target="_blank"><i v-b-tooltip.hover title="View deployed website in a new tab." class="fas fa-link"></i></a>
            <a href="{{ project?.githubUrl }}" target="_blank"><i v-b-tooltip.hover title="View GitHub repository in a new tab." class="fab fa-github"></i></a>
          </p-card>
        </ng-template>
      </p-timeline>
    </div>
  </div>
</div>