<div class="container-fluid flex-container">
  <div class="section-cols">
    <div class="row centered-section">
      <div class="container">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="section-description text-center">
            <h2 class="title">Resume</h2>
          </div>
        </div>
      </div>
      <div class="resume-section">
        <div class="download-resume-button">
          <button pButton pRipple href="https://drive.google.com/file/d/1u9kupYDAdh7o_cYGaXCkmdJx4GBGFsRM/view" target="_blank" type="button" label="Download Resume PDF" class="p-button-raised p-button-danger"></button>
        </div>
        <div class="embedded-resume">
          <iframe src="https://drive.google.com/file/d/1u9kupYDAdh7o_cYGaXCkmdJx4GBGFsRM/preview"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>